# https://medium.com/@victoria.kruczek_15509/create-a-local-database-with-docker-compose-and-view-it-in-mysql-workbench-974aee047874
# https://iamvickyav.medium.com/mysql-init-script-on-docker-compose-e53677102e48
# https://semaphore.io/community/tutorials/dockerizing-a-node-js-web-application
# https://stackoverflow.com/questions/42567475/docker-compose-check-if-mysql-connection-is-ready

services:
  db:
    image: mysql:9.6.0
    container_name: mysql_db
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network

  server:
    build: src/
    container_name: orders_microservice_server
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network: